.bg-dark {
  background-color: var(--dark);
}

.bg-primary-black {
  background-color: var(--primary-black);
}
.hover\:bg-primary-black:hover {
  background-color: var(--primary-black);
}

.bg-gray {
  background-color: var(--primary-gray);
}
.bg-secondary-gray {
  background-color: var(--secondary-gray);
}

.bg-white {
  background-color: var(--primary-white);
}

.bg-mandarine {
  background-color: var(--mandarine);
}

.poppins {
  font-family: var(--poppins);
}

.roboto {
  font-family: var(--roboto);
}

.black {
  color: var(--primary-black);
}

.gray {
  color: var(--primary-gray);
}

.white {
  color: var(--primary-white);
}

.mandarine {
  color: var(--mandarine);
}

.section-active {
  color: var(--mandarine);
}
.border-b-mandarine {
  border-bottom: solid 1px var(--mandarine);
}
.border-t-mandarine {
  border-top: solid 1px var(--mandarine);
}
.border-mandarine {
  border: solid 1px var(--mandarine);
}
.border-primary-black {
  border: solid 1px var(--primary-black);
}
.hover\\:rotate-45:hover {
  transform: rotate(45deg);
}

.rotate-transition {
  transition: transform 0.5s ease-in-out;
}

.scroll-container {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
