/* BACKGROUNDS */
.bg-dark {
  background-color: var(--dark);
}

.bg-primary-black {
  background-color: var(--primary-black);
}
.hover\:bg-primary-black:hover {
  background-color: var(--primary-black);
}

.bg-primary-gray {
  background-color: var(--primary-gray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-secondary-gray {
  background-color: var(--secondary-gray);
}

.bg-white {
  background-color: var(--primary-white);
}

.bg-mandarine {
  background-color: var(--mandarine);
}

.mandarine-gradient {
  background: linear-gradient(to bottom, rgba(255, 117, 81, 0.2) 15%, transparent 85%);
}
.mandarine-gradient-reverse {
  background: linear-gradient(to top, rgba(255, 117, 81, 0.2) 15%, transparent 85%);
}
.gray-gradient {
  background: linear-gradient(to bottom, rgba(30, 30, 30, 1) 15%, transparent 85%);
}
/* BORDERS */
.border-mandarine {
  border: solid 1px var(--mandarine);
}

.border-b-mandarine {
  border-bottom: solid 1px var(--mandarine);
}

.border-t-mandarine {
  border-top: solid 1px var(--mandarine);
}

.border-primary-black {
  border: solid 1px var(--primary-black);
}

.border-gray {
  border: solid 1px var(--gray);
}

.border-b-gray {
  border-bottom: solid 1px var(--gray);
}

.border-l-gray {
  border-left: 1px solid var(--gray);
}

/* TEXT COLORS */
.black {
  color: var(--primary-black);
}

.gray {
  color: var(--primary-gray);
}

.white {
  color: var(--primary-white);
}

.mandarine {
  color: var(--mandarine);
}

.section-active {
  color: var(--mandarine);
}

/* TYPOGRAPHY */
.roboto {
  font-family: var(--roboto);
}

/* TRANSITIONS & EFFECTS */
.rotate-transition {
  transition: transform 0.5s ease-in-out;
}

.hover\\:rotate-45:hover {
  transform: rotate(45deg);
}

/* SCROLL */
.scroll-container {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}