:root {
  --dark: #1e1e1e;
  --primary-black: #121212;
  --primary-gray: #212121;
  --secondary-gray: #aaaaaa;
  --primary-white: #e0e0e0;
  --mandarine: #ff7551;

  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto Slab", sans-serif;
}
