:root {
    --dark: #1E1E1E;
    --primary-black: #121212;
    --primary-gray: #3C3C3C;
    --secondary-gray: #aaaaaa;
    --primary-white: #E0E0E0;
    --mandarine: #FF5722;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto Slab', sans-serif;
}
